<app-modal>
  @if (facade.confirmationDialog$ | async; as dialog) {
    @switch (dialog.action) {
      @case (SettlementConfirmationAction.DELETE_GROUP) {
        <app-confirmation-delete-group
          [loading]="(facade.saving$ | async) ?? false"
          (confirmed)="onConfirm(dialog)"
        />
      }
      @case (SettlementConfirmationAction.DELETE_ENTRY) {
        <app-confirmation-delete-entry
          [personName]="dialog.personName ?? ''"
          [loading]="(facade.saving$ | async) ?? false"
          (confirmed)="onConfirm(dialog)"
        />
      }
      @case (SettlementConfirmationAction.ARCHIVE_ENTRY) {
        <app-confirmation-archive-entry
          [personName]="dialog.personName ?? ''"
          [loading]="(facade.saving$ | async) ?? false"
          (confirmed)="onConfirm(dialog)"
        />
      }
    }
  }
</app-modal>
