<app-modal>
  @if (config(); as config) {
    @switch (config.action) {
      @case (SettlementConfirmationAction.DELETE_GROUP) {
        <app-confirmation-delete-group
          [loading]="isSaving()"
          (confirmed)="onConfirm()"
        />
      }
      @case (SettlementConfirmationAction.DELETE_ENTRY) {
        <app-confirmation-delete-entry
          [personName]="config.personName ?? ''"
          [loading]="isSaving()"
          (confirmed)="onConfirm()"
        />
      }
      @case (SettlementConfirmationAction.ARCHIVE_ENTRY) {
        <app-confirmation-archive-entry
          [personName]="config.personName ?? ''"
          [loading]="isSaving()"
          (confirmed)="onConfirm()"
        />
      }
    }
  }
</app-modal>
