@import "./fonts.css";
@import "./variables.css";

@layer base {
  body {
    color: var(--color-dark);
  }

  * {
    font-family: var(--font-inter), serif;
    -webkit-font-smoothing: antialiased;
  }
}

@utility font-amount {
  font-family: var(--font-amount);
  font-variant-numeric: tabular-nums;
}
