<nav class="mt-8 space-y-2">
  <h2 class="uppercase text-[10px] font-medium text-muted tracking-[1px] ">
    nawigacja
  </h2>
  <div>
    <app-nav-item label="Pulpit" link="/">
      <ng-icon icon name="heroSquares2x2" class="text-xl" strokeWidth="1"/>
    </app-nav-item>
    <app-nav-item label="Portfel" link="/accounts">
      <ng-icon icon name="heroBuildingLibrary" class="text-xl" strokeWidth="1"/>
    </app-nav-item>
    <app-nav-item label="Zobowiązania i należności" link="/settlements">
      <ng-icon icon name="heroClock" class="text-xl" strokeWidth="1"/>
    </app-nav-item>
  </div>
</nav>
